schema/ias-dataflow-2018.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <!--  FIXME correct location -->
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
    <xs:annotation>
        <xs:documentation>
            Technical formats to be used by the Member States for transmitting to the Commission the
            information pursuant to paragraph 1 of Article 24 of Regulation (EU) No 1143/2014 on the
            prevention and management of the introduction of invasive alien species
            XML Schema for General report.

            Created: 10 September 2018
        </xs:documentation>
    </xs:annotation>
    <xs:element name="report">
        <xs:annotation>
            <xs:documentation>
                Root element for invasive alien species general report. One report per Member State
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="CountryCodeSimpleType"/>
                <xs:element name="reportStartDate" type="DateType"/>
                <xs:element name="reportEndDate" type="DateType"/>
                <xs:element name="sectionA" minOccurs="49" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="speciesName" type="xs:string"/>
                            <xs:element name="speciesCName" type="xs:string"/>
                            <xs:element name="presence" type="PresenceType"/>
                            <xs:element name="distributionDescription" type="xs:string"/>
                            <xs:element name="reproductionPattern" type="xs:string"/>
                            <xs:element name="spreadPattern" type="xs:string"/>
                            <xs:element name="addInfoSpecies" type="xs:string"/>
                            <xs:element name="permitsIssued" type="xs:boolean"/>
                            <xs:element name="permYear" type="DateYearType"/>
                            <xs:element name="permPurpose" type="xs:string"/>
                            <xs:element name="permResearchNum" type="xs:integer"/>
                            <xs:element name="permResearchUnit" type="xs:integer"/>
                            <xs:element name="permSituNum" type="xs:integer"/>
                            <xs:element name="permSituUnit" type="xs:integer"/>
                            <xs:element name="permProdNum" type="xs:integer"/>
                            <xs:element name="permProdUnit" type="xs:integer"/>
                            <xs:element name="permOtherNum" type="xs:integer"/>
                            <xs:element name="permOtherUnit" type="xs:integer"/>
                            <xs:element name="addInfoPerm" type="xs:string"/>
                            <xs:element name="permInspYear" type="DateYearType"/>
                            <xs:element name="permInspPurpose" type="xs:string"/>
                            <xs:element name="permInspResearchNum" type="xs:integer"/>
                            <xs:element name="permInspResearchUnit" type="xs:integer"/>
                            <xs:element name="permInspSituNum" type="xs:integer"/>
                            <xs:element name="permInspSituUnit" type="xs:integer"/>
                            <xs:element name="permInspProdNum" type="xs:integer"/>
                            <xs:element name="permInspProdUnit" type="xs:integer"/>
                            <xs:element name="permInspOtherNum" type="xs:integer"/>
                            <xs:element name="permInspOtherUnit" type="xs:integer"/>
                            <xs:element name="addInfoInspec" type="xs:string"/>
                            <xs:element name="measuresEradication" type="xs:boolean"/>
                            <xs:element name="dateFrom" type="xs:date"/>
                            <xs:element name="dateTo" type="xs:date"/>
                            <xs:element name="objective" type="MeasureObjectiveType"/>
                            <xs:element name="partOfTerritory" type="xs:string"/>
                            <!-- TODO: Work in progress - update elements from section A-->
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="sectionB" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nationalList" type="xs:boolean"/>
                            <xs:element name="speciesName" type="xs:string"/>
                            <xs:element name="speciesCName" type="xs:string"/>
                            <xs:element name="presence" type="PresenceType"/>
                            <xs:element name="distributionDescription" type="xs:string"/>
                            <xs:element name="resIntenBring" type="xs:boolean"/>
                            <xs:element name="resIntenKeep" type="xs:boolean"/>
                            <xs:element name="resIntenBreed" type="xs:boolean"/>
                            <xs:element name="resIntenTransport" type="xs:boolean"/>
                            <xs:element name="resIntenMarket" type="xs:boolean"/>
                            <xs:element name="resIntenUse" type="xs:boolean"/>
                            <xs:element name="resIntenPermit" type="xs:boolean"/>
                            <xs:element name="resIntenRelease" type="xs:boolean"/>
                            <xs:element name="derogations" type="xs:boolean"/>
                            <xs:element name="actionPlans" type="xs:boolean"/>
                            <xs:element name="surveillance" type="xs:boolean"/>
                            <xs:element name="controls" type="xs:boolean"/>
                            <xs:element name="earlyDetection" type="xs:boolean"/>
                            <xs:element name="eradication" type="xs:boolean"/>
                            <xs:element name="management" type="xs:boolean"/>
                            <xs:element name="restoration" type="xs:boolean"/>
                            <xs:element name="addInfoSectionB" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="sectionC">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="resIntenPermit" type="xs:string"/>
                            <xs:element name="actionPlans" type="xs:string"/>
                            <xs:element name="priority" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="pathwayCode" type="xs:string"/>
                                        <xs:element name="speciesCode" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="surveillance" type="xs:string"/>
                            <xs:element name="controls" type="xs:string"/>
                            <xs:element name="informationMeasures" type="xs:string"/>
                            <xs:element name="actionCost" type="xs:string"/>
                            <xs:element name="addInfo" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="MeasureObjectiveType">
        <xs:annotation>
            <xs:documentation>Yes/No/Currently unknown</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="(eradication|control|containment)"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PresenceType">
        <xs:annotation>
            <xs:documentation>Yes/No/Currently unknown</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="(yes|no|unknown)"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DateType">
        <xs:annotation>
            <xs:documentation>Date YYYY-MM-DD</xs:documentation>
        </xs:annotation>
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{4}-[0-1][0-9]-[0-3][0-9]"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="EmptySimpleType"/>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="DateYearType">
        <xs:annotation>
            <xs:documentation>Date YYYY</xs:documentation>
        </xs:annotation>
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{4}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="EmptySimpleType"/>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="EmptySimpleType">
        <xs:annotation>
            <xs:documentation>Type to enter empty string</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CountryCodeSimpleType">
        <xs:annotation>
            <xs:documentation>Unique 2 character Code for the EU Member States and sub-national regions</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="EU"/>
            <xs:enumeration value="AT"/>
            <xs:enumeration value="BE"/>
            <xs:enumeration value="BG"/>
            <xs:enumeration value="CZ"/>
            <xs:enumeration value="CY"/>
            <xs:enumeration value="DE"/>
            <xs:enumeration value="DK"/>
            <xs:enumeration value="EE"/>
            <xs:enumeration value="ES"/>
            <xs:enumeration value="FI"/>
            <xs:enumeration value="FR"/>
            <xs:enumeration value="GR"/>
            <xs:enumeration value="HU"/>
            <xs:enumeration value="IE"/>
            <xs:enumeration value="IT"/>
            <xs:enumeration value="LT"/>
            <xs:enumeration value="LU"/>
            <xs:enumeration value="LV"/>
            <xs:enumeration value="MT"/>
            <xs:enumeration value="NL"/>
            <xs:enumeration value="PL"/>
            <xs:enumeration value="PT"/>
            <xs:enumeration value="RO"/>
            <xs:enumeration value="SE"/>
            <xs:enumeration value="SI"/>
            <xs:enumeration value="SK"/>
            <xs:enumeration value="UK"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>







